:root {
  --black-1: #121212;
  --black-2: #1d1d1d;
  --black-3: #1f1f1f;
  --black-4: #212121;
  --black-5: #565656;
  --white-1: #ffffff;
  --red-1: #d32f2f;
  --green-1: #03dac5;
  --purple-1: #b64fc8;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  color: var(--black-5);
  background: var(--black-1);
}

button, select, option {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.app, .app-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.app-container__inner {
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.app-navigation-bar {
  height: 70px;
  width: 100%;
  background: var(--black-3);
}

.app-navigation-bar__inner {
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.app-content {
  padding: 20px;
  box-sizing: border-box;
  grid-gap: 20px 0;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--black-2);
}

.btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 20px 30px;
  box-sizing: border-box;
  color: var(--white-1);
  background-color: var(--purple-1);
}

.side-by-side {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  grid-gap: 0px 20px;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.pancake-collapsed {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0px 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
  place-items: center;
}

.modal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

.modal-content {
  width: 90%;
  height: 90%;
  max-width: 600px;
  max-height: 600px;
  background-color: var(--black-2);
  z-index: 1000;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

.modal-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.modal-footer {
  width: 100%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: end;
}

.stats-modal-body {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.stats-modal-body h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}